<h2 class="page-header">Friend</h2>
<input type="button"  name="button"  value='Views new messages  ' onClick="new_messages()" >
<input type="button" name="button"  value='Views sent messages' onClick="sent_messages()" >
<input type="button"  name="button"  value='Views list friend' onClick="list_friend()" >
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<form method="post" action="/users/friend">

    <div class="form-friend">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email">
        <input class="bt2" name='submit' type='submit', value='Add' >
    </div>
    <h3> Danh sách bạn bè </h3>
    <table>
        
        {{#each user.friendship}}
        <tr>
            <td>
                {{this.email}}
            </td>
        </tr>
        {{/each}}
        
    </table>

