extends layout

block content
    h1 Register
       h5
         include message
      form(method='post',action='/users/register')
        .form-group
          label Name
          input.form-control(name='name', type='text',placeholder='Enter Name')
        .form-group
          label Email
          input.form-control(name='email', type='email',placeholder='Enter email')
        .form-group
          label Password
          input.form-control(name='password', type='password',placeholder='Enter Password')
        .form-group
          label Confirm Password
          input.form-control(name='password2', type='password',placeholder='Enter Confirm Password')
         input.btn.btn-default(name='submit', type='submit', value='Register')