<h2 class="page-header">Messages</h2>
<input type="button"  name="button"  value='Views new messages  ' onClick="new_messages()" >
<input type="button" name="button"  value='Views sent messages' onClick="sent_messages()" >
<input type="button"  name="button"  value='Views list friend' onClick="list_friend()" >
