extends layout
block content
        h1 Sent messages
        input.btn.btn-default(name='button', type='button', value='Views new messages' onClick="new_messages()")
        input.btn.btn-default(name='button1', type='button', value='Views sent messages' onClick="sent_messages()")
        input.btn.btn-default(name='button2', type='button', value='Views list friend' onClick="list_friend()")
        h1 789